.main{
    width: 216px;
    height: 290px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.dp{
    width: 92px;
height: 92px;
display: flex;
justify-content: center;
}
.text{
    text-align: center;
}

h1{
    /* Diane Cooper */


width: 162px;
height: 34px;
/* left: 129px;
top: 138px; */
margin-bottom: 3px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */

color: #242831;


}

.email{
    width: 160px;
height: 17px;
left: 127px;
top: 172px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */


color: #6B6B6B;
}


.presentData{
    display: flex;
    flex-direction: row;
    height: 34px;
    background-color: white;width: 93px;
    justify-content: space-between;

}
.lowerheading{
    width: 24px;
height: 17px;
left: 137px;
top: 223px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

text-align: center;

color: #6B6B6B;

}
.upperheading{width: 23px;
    height: 28px;
    left: 245px;
    top: 199px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    
    
    color: #242831;}
    .two{
        text-align: center;
    }
button{
    
padding: 8px 69px;
width: 225px;
height: 36px;
left: 104px;
top: 280px;

border: 1px solid #D9D9D9;
border-radius: 5px;

font-family: 'Source Serif 4';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #242831;
border-color: #242831;
}